/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

#nbStackPane {
  -fx-border-color: lightgrey;
  -fx-border-width: 1px;
}

#finalNumberLabel {
  -fx-background-color: white;
  -fx-pref-height: 30px;
  -fx-min-height: 30px;
  -fx-min-width: 30px;
  -fx-pref-width: 30px;
  -fx-font-size: 16pt;
  -fx-alignment: center;
  /*visibility: hidden;*/
}

.possibleNumber {
  -fx-pref-height: 10px;
  -fx-min-height: 10px;
  -fx-min-width: 10px;
  -fx-pref-width: 10px;
  -fx-font-size: 6pt;
  -fx-alignment: center;
  /*visibility: hidden;*/
}

#textfield {
  -fx-min-width: 10px;
  -fx-pref-width: 10px;
  /*visibility: visible;*/
}

#redLayer {
  -fx-background-color: red;
  -fx-pref-height: 30px;
  -fx-min-height: 30px;
  -fx-min-width: 30px;
  -fx-pref-width: 30px;
  -fx-opacity: 0.3;
  visibility: hidden;
}
